.motif-tagging__save-btn.btn.btn-primary(data-action='save-motif-tags', disabled=saving)
  | Gem dine ændringer
.motif-tagging__cancel-btn.btn.btn-no-shadow.btn-small(data-action='cancel-motif-tags')
  | Annuller
