.motif-tagging__save-btn.btn.btn-primary(data-action='motif-tagging:save', disabled=saving)
  | Gem dine ændringer
.motif-tagging__cancel-btn.btn.btn-no-shadow.btn-small(data-action='motif-tagging:cancel')
  | Annuller
