include ../../mixins/tag
include ../../mixins/icon

.motif-tagging__suggestion-explanation Emneordene er skabt med automatisk billedanalyse. Godkend ved at klikke ’thumbs up’ eller slet ved at klikke på krydset.
each tag in helpers.motifTagging.getVisionTags(metadata) || []
  .btn-group(data-tag=tag)
    +tag(tag)
    .motif-tagging__transfer-btn.btn.btn-success(data-action='transfer-motif-tag')
      +icon('thumbup')
    .motif-tagging__remove-btn.btn.btn-danger(data-action='remove-motif-tag')
      +icon('cross')
else
  .motif-tagging__no-tags Der er ingen forslåede emneord til dette billede.
