-var i = 0
each section in sections
  -i++
  .col-md-6
    h2= section.title
    if section.hasValues(options, metadata)
      table
        tbody
          each row in section.rows
            if row.hasValue(options, metadata)
              != row.render(options, metadata)
  if (i == 2) 
    .clearfix
