.overlay__container(data-content="asset-download")
  .overlay__content
    if (downloadable)
      h2 Download
      each option in helpers.getDownloadOptions(metadata)
        a.btn.btn-primary(href=option.url)
          = option.label
      +displayLicense(metadata.license)
    else
      h2 Vi beklager
      p Billedet er ophavsretligt beskyttet og kan derfor ikke downloades uden forudgående aftale med fotografen.
