footer
  .container-fluid
    .footer__element Nationalmuseet
    a.footer__element(href='https://natmus.dk') natmus.dk
    .footer__element Prinsens Palæ
    .footer__element Ny Vestergade 10
    .footer__element DK-1471 København K
    .footer__element Tel. +45 3313 4411 (man-tors 10-16, fre 10-15)
