footer
  .container-fluid
    span Nationalmuseet
    a(href='https://natmus.dk') natmus.dk
    span Prinsens Palæ
    span Ny Vestergade 10
    span DK-1471 København K
    span Tel. +45 3313 4411 (man-tors 10-16, fre 10-15)
