footer
  .footer
    .container-fluid
      .row
        h4.footer-title Om Nationalmuseets Samlinger Online
        address.col-xs-12
          span Nationalmuseet
          span Prinsens Palæ
          span Ny Vestergade 10
          span DK-1471 København K
          span Tel. +45 3313 4411
      .row
        .col-xs-12
          h2.h4 Følg os på:
          p.social-links
            a(href='https://www.facebook.com/nationalmuseet')
              span.sr-only Facebook
              +icon('icon-facebook')
            a(href='https://twitter.com/Nationalmuseet')
              span.sr-only Twitter
              +icon('icon-twitter')
            a(href='http://www.youtube.com/user/natmusdk')
              span.sr-only YouTube
              +icon('icon-youtube')
