.col-md-8.slider-wrapper
  .slider
    ul(class="slides")
      li
          img(src='/images/slider/01.jpg', alt="800")
      li
          img(src='/images/slider/02.jpg', alt="800")
      li
          img(src='/images/slider/03.jpg', alt="800")
      li
          img(src='/images/slider/04.jpg', alt="800")
      li
          img(src='/images/slider/05.jpg', alt="800")
      li
          img(src='/images/slider/06.jpg', alt="800")
      li
          img(src='/images/slider/07.jpg', alt="800")
      li
          img(src='/images/slider/08.jpg', alt="800")
      li
          img(src='/images/slider/09.jpg', alt="800")

.col-md-4.clearfix.slider-text
  h1 Søg og udforsk Nationalmuseets Samlinger Online!
  h2.lead I Nationalmuseets billedsamling finder du mange former for kulturhistoriske fotos.<br>En del af billederne kan du bruge som du vil, også kommercielt.<br><br>Kig efter Public Domain eller klik på licenslogoet under billederne for at få mere at vide om betingelserne for brug.<br><br>Vi håber, at du kan bruge Nationalmuseets billeder til fantastiske ting!
