include ../mixins/loader

.geo-tagging
  .geo-tagging__player
    include ./player
  .geo-tagging__map
    - // TODO: Refactor geotagging.js such that elementsById is no longer needed
    .geo-tagging__map-element
    input.geo-tagging__input.controls(type="text", placeholder="Søg efter adresse")
    .geo-tagging__map-buttons
      button.btn.btn-primary(data-action='geo-tagging:stop')
        | Annuller
      button.btn.btn-primary(data-action='save-geo-tag')
        +loader('Gem placering')
      button.btn.btn-primary(data-action='back-to-map')
        | Tilbage til kortvisning
    .geo-tagging__overlay
      block geo-tagging__overlay
      .btn.btn-primary(data-action='close-overlay')
        | Videre
