h2 Emneord
.motif-tagging__tags(data-template='tags')
  include ./motif-tagging/tags

.row.motif-tagging__editing-container
  .col-md-6
    h2 Kan nogle af disse emneord bruges?
    .motif-tagging__tag-suggestions(data-template='tag-suggestions')
      include ./motif-tagging/tag-suggestions
  .col-md-4.col-md-offset-1
    h2 Tilføj flere emneord
    div Husk at gemme til sidst.
    .motif-tagging__add-tag
      .motif-tagging__add-input.material-input
        input(type='text', required)
        span.bar
        label Indtast nyt emneord og tryk enter
      .motif-tagging__save-buttons(data-template='save-buttons')
        include ./motif-tagging/save-buttons
