<!-- build:js /scripts/scripts.js -->
// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js')
script(src='/bower_components/FlexSlider/jquery.flexslider.js')
script(src='/bower_components/ev-emitter/ev-emitter.js')
script(src='/bower_components/imagesloaded/imagesloaded.js')
script(src='/bower_components/jquery-infinite-scroll/jquery.infinitescroll.js')
script(src='/bower_components/get-size/get-size.js')
script(src='/bower_components/desandro-matches-selector/matches-selector.js')
script(src='/bower_components/fizzy-ui-utils/utils.js')
script(src='/bower_components/outlayer/item.js')
script(src='/bower_components/outlayer/outlayer.js')
script(src='/bower_components/masonry/masonry.js')
script(src='/bower_components/picturefill/dist/picturefill.js')
script(src='/bower_components/typeahead.js/dist/typeahead.bundle.js')
script(src='/bower_components/scrollToTop/jquery.scrollToTop.js')
// endbower:js
script(src='/scripts/main.js')
script(src='/scripts/masonry.init.js')
script(src='/scripts/magic360.js')
script(src='/scripts/magic360.da.js')
script(src='/scripts/menu.js')
script(src='/scripts/svgsprite.js')
// contri count has to be before geo and motif
script(src='/scripts/contribution-count.js')
script(src='/scripts/geo-tagging.js')
script(src='/scripts/motif-tagging.js')
script(src='/scripts/snackbar.js')
<!-- endbuild -->
