<!-- build:js /scripts/scripts.js -->
// bower:js
script(src='/bower_components/jquery/dist/jquery.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js')
script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js')
//- script(src='/bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js')
script(src='/bower_components/FlexSlider/jquery.flexslider.js')
script(src='/bower_components/html5shiv/dist/html5shiv.js')
script(src='/bower_components/eventEmitter/EventEmitter.js')
script(src='/bower_components/eventie/eventie.js')
script(src='/bower_components/imagesloaded/imagesloaded.js')
script(src='/bower_components/jquery-infinite-scroll/jquery.infinitescroll.js')
script(src='/bower_components/get-style-property/get-style-property.js')
script(src='/bower_components/get-size/get-size.js')
script(src='/bower_components/doc-ready/doc-ready.js')
script(src='/bower_components/matches-selector/matches-selector.js')
script(src='/bower_components/fizzy-ui-utils/utils.js')
script(src='/bower_components/outlayer/item.js')
script(src='/bower_components/outlayer/outlayer.js')
script(src='/bower_components/masonry/masonry.js')
script(src='/bower_components/picturefill/dist/picturefill.js')
script(src='/bower_components/typeahead.js/dist/typeahead.bundle.js')
// endbower:js
script(src='/bower_components/scrollToTop/jquery.scrollToTop.js')
script(src='/scripts/natmus.js')
script(src='/scripts/masonry.init.js')
script(src='/scripts/magic360.js')
script(src='/scripts/magic360.da.js')
script(src='/scripts/menu.js')
script(src='/scripts/svgsprite.js')
// contri count has to be before geo and motif
script(src='/scripts/contribution-count.js')
script(src='/scripts/geo-tagging.js')
script(src='/scripts/motif-tagging.js')
<!-- endbuild -->
