include ../mixins/icon.pug

- var href = '/' + metadata.collection;
- if(Object.keys(config.types).length > 1) {
-   href += '/' + type;
- }
- href += '/' + metadata.id;

a(href=href).box.col-xs-6.col-sm-4
  .box__squared-container
    img(src=href + '/thumbnail').box__squared-image
  h2.h4.box__title= metadata.text ? metadata.text['da-DK'].title || 'Uden titel' : 'Uden titel'
  p.box__description= metadata.description
