include ../mixins/icon
include ../mixins/search-filter-section.jade
- var filterLabels = { 'district': 'bydele', 'street_name': 'vejnavne' }

.search-filter-sidebar
  if filterCount > 0
    h2.search-filter-sidebar__heading.hidden-xs Valgte filtre
    .search-filter-sidebar__chosen-filters
      for values, field in filters
        for value in values
          button.btn.btn-primary.btn-filter.btn-close(data-field=field,data-value=value,data-action='remove-filter')
            if field === 'freetext'
              | &lsquo;
            = value
            if field === 'freetext'
              | &rsquo;
            +icon('close')

  if aggregations
    .search-filter-sidebar__options#search-filter-options
    h2.search-filter-sidebar__heading.visible-xs
      each label, key in filterLabels
        span(data-action='show-filters' data-id=key)= label
    each label, key in filterLabels
      +filterSection(label, key)
