include ../mixins/icon

- const mediaTypes = helpers.determineMediaTypes(metadata);
- const hasMediaType = type => mediaTypes.indexOf(type) !== -1;
- const documentURL = helpers.getDocumentURL(metadata);
- const thumbnailURL = helpers.getThumbnailURL(metadata);

a(href=documentURL).search-results-item.col-xs-6.col-sm-4
  .search-results-item__squared-container
    img(src=thumbnailURL).search-results-item__squared-image.object-fit
    if hasMediaType('rotation') || hasMediaType('video')
      .search-results-item__overlay
        if hasMediaType('rotation')
          +icon('rotation')
        if hasMediaType('video')
          +icon('play')
  h2.search-results-item__title= helpers.documentTitle(metadata)
  p.search-results-item__description= helpers.documentDescription(metadata)
