include ../mixins/icon
include ../mixins/search-filter-section.pug

.search-filter-sidebar
  if filterCount > 0
    h2.search-filter-sidebar__heading.hidden-xs Valgte filtre
    .search-filter-sidebar__chosen-filters
      for values, field in filters
        if typeof(values) === 'string'
          - values = [values]
        for value in values
          button.btn.btn-primary.btn-filter.btn-close(
            data-field=field,
            data-value=value,
            data-action='remove-filter')
            span.btn-filter__text= value
            +icon('close')

  if aggregations
    .search-filter-sidebar__options#search-filter-options
    each filter, key in filterLabels
      if filter.type === 'term' || filter.type === 'date-range'
        +filterSection(filter.singular, filter.plural, key)
