include ../mixins/icon
include ../mixins/search-filter-value
include ../mixins/search-filter-section

.search-filter-sidebar
  if filterCount > 0
    h2.search-filter-sidebar__heading.hidden-xs Valgte filtre
    .search-filter-sidebar__chosen-filters
      for values, field in filters
        if typeof(values) === 'string'
          - values = [values]
        for value in values
          button.btn.btn-primary.btn-filter.btn-close(
            data-field=field,
            data-value=value,
            data-action='remove-filter')
            span.btn-filter__text
              +filterValue(field, value)
            +icon('close')
  each filter, key in filterLabels
    if filter.type !== 'querystring'
      +filterSection(filter.singular, filter.plural, key, filter.type)
