include ../mixins/icon
include ../mixins/search-filter-section.jade

.search-filter-sidebar
  .search-filter-sidebar__chosen-filters
    .search-filter-sidebar__heading
      h2 Valgte filtre
    .search-filter-sidebar__filters
      if filterCount > 0
        for values, field in filters
          for value in values
            button.btn.btn-primary.btn-close(data-field=field,data-value=value,data-action='remove-filter')= value
              +icon('close')
      else
        p Ingen filtre valgt — tryk på knapperne nedenunder for at filtrere dit søgeresultat.

  if aggregations
    +filterSection('bydele', 'district')
    +filterSection('vejnavne', 'street_name')
