include ../mixins/icon

- let player = helpers.determinePlayer(metadata);

a(href=helpers.getDocumentURL(metadata)).search-result-item.col-xs-6.col-sm-4
  .search-result-item__squared-container
    img(src=helpers.getThumbnailURL(metadata)).search-result-item__squared-image.object-fit
    if player === 'rotation'
      +icon('rotation')
    if player === 'video'
      .search-result-item__overlay
        +icon('play')
  h2.search-result-item__title= helpers.documentTitle(metadata)
  p.search-result-item__description= helpers.documentDescription(metadata)
