include ../mixins/icon.pug

- var href = '/' + metadata.collection;
- if(Object.keys(config.types).length > 1) {
-   href += '/' + type;
- }
- href += '/' + metadata.id;

a(href=href).box.col-xs-6.col-sm-4.col-lg-3
  .image
    .overlay
      img(src=href + '/thumbnail').object-fit
  h2.h4= metadata.text ? metadata.text['da-DK'].title || 'Uden titel' : 'Uden titel'
  p.description= metadata.description
