if section.hasValues(options, metadata)
  h2= section.title
  table
    tbody
      each row in section.rows
        if row.hasValue(options, metadata)
          != row.render(options, metadata)
else if section.emptyMessage 
  p= section.emptyMessage
