nav
  ul(aria-labelledby='heading-categories-menu', role='menu').nav.sidebar-menu
    if menus && menus.main
      block before
      each item in menus.main
        li
          a(href=item.url)= item.title
    if config.features.users
      span.sidebar-menu__link-seperator
      if user
        li
          a= (user.name.givenName || user.nickname)
        li
          a(href='/logout') Log ud
      else
        li
          a(data-action='login') Log ind
.gray-overlay
