.topbar__logo.hidden-sm.hidden-xs
  .topbar__logo-icon.topbar__logo-icon--large
    +icon('logo')
  .topbar__logo-text
    h1 Collections Online
    .topbar__logo-tagline Explore #{totalAssets} assets via Collections Online
