.container-fluid.google-translate
  #google_translate_element
if(config.env !== 'development')
  script.
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'da', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: '#{config.googleAnalyticsPropertyID}'}, 'google_translate_element');
    }
else 
  script.
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'da', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
    }
script(src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit')
