$slider-arrow-size: 4rem;

.related-assets {
  position: relative;

  .related-assets__next-arrow,
  .related-assets__prev-arrow {
    cursor    : pointer;
    margin-top: -$slider-arrow-size / 2;
    opacity   : .2;
    position  : absolute;
    top       : 50%;

    &:hover {
      opacity: .5;
    }

    svg {
      height: $slider-arrow-size;
      width : $slider-arrow-size;
    }
  }

  .related-assets__next-arrow {
    right: -5rem;
  }

  .related-assets__prev-arrow {
    left: -5rem;

    svg {
      transform: rotate(180deg);
    }
  }

  .related-assets__next-arrow,
  .related-assets__prev-arrow {
    display: none;
  }
}
