@import 'geotagging';
@import 'slick';
$slider-arrow-size: 4rem;

.asset {
  h1, h2, h3 {
    font-family: $asset-heading-font;
  }
}

.asset-top {
  background-color: $asset-top-bg;
  color           : $asset-top-color;
  padding         : 0 0 1rem;

  h1 {
    margin-top: 0;
  }

  .asset-info {
    padding-top: 1rem;

    .lead {
      white-space: pre-line;
    }
  }
}

.img-col {
  height: 100%;
}

.asset-image {
  display   : block;
  margin    : 0 auto;
  max-width : 100%;
  padding   : 0;
  transition: $anim-default;

  @media (min-width: $small-size) {
    max-height: $asset-max-height;
  }

  &--zoomable:not(.dimmed) {
    cursor: zoom-in;
  }
}

.rotation-wrapper {
  margin: 0 auto;

  @media (min-width: $medium-size) {
    max-width: 85%;
  }

  @media (min-width: $large-size) {
    max-width: 70%;
  }
}

// Full blown image
.expanded .asset-image {
  cursor    : zoom-out;
  max-height: 2000px; // Should match the size given in the image path
}

.social {
  text-align: right;

  > a {
    display   : inline-block;
    margin-top: .5rem;

    &:not(:last-child) {
      margin-right: $icon-size / 2;
    }
  }

  svg {
    fill  : $asset-top-color;
    height: $icon-size;
    width : $icon-size;
  }
}

.asset-middle {
  background-color: $asset-middle-bg;
  padding         : 1rem 0 2rem;

  input {
    background-color: rgba($white, 0);
  }

  @media (min-width: $medium-size) {
    b,
    h2 {
      display: block;
      height : $asset-subject-headline-height;
      margin : 0;
    }

    h2 {
      line-height: $asset-subject-headline-height * 1.5;
    }

    b {
      line-height: $asset-subject-headline-height * 1.7;
    }
  }
}

.related-assets {
  position: relative;

  .related-assets__next-arrow,
  .related-assets__prev-arrow {
    cursor    : pointer;
    margin-top: -$slider-arrow-size / 2;
    opacity   : .2;
    position  : absolute;
    top       : 50%;

    &:hover {
      opacity: .5;
    }

    svg {
      height: $slider-arrow-size;
      width : $slider-arrow-size;
    }
  }

  .related-assets__next-arrow {
    right: -5rem;
  }

  .related-assets__prev-arrow {
    left: -5rem;

    svg {
      transform: rotate(180deg);
    }
  }
}

.add-tag {
  display    : none;
  margin-left: .2rem;
  transform  : translateY(-2px);
}

.confirming {
  .add-tag {
    display: inline-block;
  }
}

.asset-bottom {
  background-color: $asset-bottom-bg;
  padding: 1rem 0 3rem;

  table {
    width: 100%;
  }

  td,
  th {
    // Override bootstrap col 15 px padding
    padding: 0;
  }

  // ensure som padding on mobile
  th {
    padding-right: 1rem;

    @media (min-width: $small-size) {
      padding-left: 0;
    }
  }
}

// Map to show geolocation
.mini-map {
  height    : 10rem;
  margin-top: .5rem;
  width     : 100%;
}

// License img
.license-img {
  max-width: 100%;
  max-height: 3rem;
}
