@import 'variables';
@import 'geotagging';
@import 'slick';
$slider-arrow-size: 4rem;

.asset-top {
  background-color: $topbar-color;
  color           : $white;
  padding         : 0 0 1rem;

  h1 {
    margin-top: 0;
  }

  .asset-info {
    padding-top: 1rem;
  }
}

.img-col {
  height: 100%;
}

.image-wrapper {
  cursor    : zoom-in;
  display   : block;
  //max-height: $asset-max-height;
  padding   : 0;
  position  : relative;

  @media (min-width: $small-size) {
    height: $asset-max-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  @media (min-width: $large-size) {
    padding-left : 15px;
    padding-right: 15px;
  }

  img {
    display   : block;
    margin    : auto;
    max-height: 100%;
    max-width : 100%;
  }

}

.rotation-wrapper {
  margin: 0 auto;

  @media (min-width: $medium-size) {
    max-width: 85%;
  }

  @media (min-width: $large-size) {
    max-width: 70%;
  }
}

// Full blown image
.container-fluid.big-image {
  max-width: none;

  .small-bleed {
    padding: 0;
  }

  .image-wrapper {
    cursor    : zoom-out;
    height    : auto;
    max-height: none;
    padding   : 0;

    img {
      max-height: none;
      position  : static;
      transform : none;
    }
  }
}

.social {
  text-align: right;

  > a {
    display   : inline-block;
    margin-top: .5rem;

    &:not(:last-child) {
      margin-right: $icon-size / 2;
    }
  }

  svg {
    fill  : $white;
    height: $icon-size;
    width : $icon-size;
  }
}

.asset-middle {
  background-color: $gray-lighter;
  padding         : 1rem 0 2rem;

  input {
    background-color: rgba($white, 0);
  }

  @media (min-width: $medium-size) {
    h2,
    b {
      display: block;
      height : $asset-subject-headline-height;
      margin : 0;
    }

    h2 {
      line-height: $asset-subject-headline-height * 1.5;
    }

    b {
      line-height: $asset-subject-headline-height * 1.7;
    }
  }
}

.related-assets {
  position: relative;

  .related-assets__next-arrow,
  .related-assets__prev-arrow {
    cursor    : pointer;
    margin-top: -$slider-arrow-size / 2;
    opacity   : .2;
    position  : absolute;
    top       : 50%;

    &:hover {
      opacity: .5;
    }

    svg {
      height: $slider-arrow-size;
      width : $slider-arrow-size;
    }
  }

  .related-assets__next-arrow {
    right: -5rem;
  }

  .related-assets__prev-arrow {
    left: -5rem;

    svg {
      transform: rotate(180deg);
    }
  }
}

.add-tag {
  display    : none;
  margin-left: .2rem;
  transform  : translateY(-2px);
}

.confirming {
  .add-tag {
    display: inline-block;
  }
}

.asset-bottom {
  padding: 1rem 0 3rem;

  table {
    width: 100%;
  }

  th,
  td {
    // Override bootstrap col 15 px padding
    padding: 0;
  }

  // ensure som padding on mobile
  th {
    padding-right: 1rem;

    @media (min-width: $small-size) {
      padding-left: 0;
    }
  }
}

// Map to show geolocation
.mini-map {
  height    : 10rem;
  margin-top: .5rem;
  width     : 100%;
}
