.btn-group {
  margin-right: .5rem;
}

.btn {
  background: transparent;
  border    : 0;

  svg {
    fill: $white;
    height: 18px;
    margin: 0 .2em;
    vertical-align: middle;
    width : 18px;
  }

  &-default {
    background-color: $button-bg;
    color           : $white;

    &:hover,
    &:focus {
      background-color: darken($button-bg, 10%);
      color           : $white;
    }
  }

  &-primary {
    background-color: $brand-primary;
    color           : $white;

    &:hover,
    &:focus {
      background-color: lighten($brand-primary, 5%);
    }
  }

  &-icon {
    padding       : .2rem;
    vertical-align: middle;
  }

  &-small {
    font-size: 90%;
    padding  : .32rem .5rem .2rem;

    &.btn-icon {
      padding: .22rem;
    }

    svg {
      height: 18px;
      width : 18px;
    }
  }

  &-toggle {
    &__toggled-text {
      display: none;
    }
  }
  &-toggle--toggled {
    .btn-toggle {
      &__toggled-text {
        display: inline-block;
      }
      &__default-text {
        display: none;
      }
    }
  }
}
