.expanded > .container-fluid-expandable {
  @if $asset-full-width-on-big-image {
    max-width: none;
    width: 100%;
    // Any collumns in the expanded fluid container should have no padding
    [class^='col-'],
    [class*=' col-'] {
      padding: 0;
    }
  }
}

.container-fluid-expandable {
  transition: $anim-default;
  [class^='col-'],
  [class*=' col-'] {
    transition: $anim-default;
  }
}
