.cc {
  &-banner {
    background-color: black;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: $topbar-height;
    left: 0;
    padding: 8px;
    position: fixed;
    right: 0;
    z-index: 9999;
  }
  &-btn {
    background-color: $brand-primary;
    color: white !important;
    border-radius: 3px;
    text-decoration: none !important;
    padding: 5px 6px 4px;
  }
  &-invisible {
    display: none;
  }
}
