@import 'variables';
@import 'functions-shadows';

.dropdown {
  cursor     : pointer;
  display    : inline-block;
  font-size  : 1rem;
  position   : relative;
  user-select: none;

  &--active {
    z-index: 10;

    .dropdown__options {
      display: block;
    }

    .dropdown__selected {
      border-bottom-color: transparent;
      position           : relative;
      z-index            : 1;
    }

    .dropdown__selected::after {
      transform: rotate(180deg);
    }
  }
}

.dropdown__selected {
  border-bottom: 1px solid $text-color;
  color        : $text-color;
  display      : inline-block;
  font-weight  : bold;
  line-height  : 2rem;
  min-width    : 12rem;
  padding      : 0 10px;

  &:focus,
  &:hover {
    color          : $text-color;
    text-decoration: none;
  }

  &::after {
    border-left : 5px solid transparent;
    border-right: 5px solid transparent;
    border-top  : 5px solid $text-color;
    bottom      : 2px;
    content     : '';
    height      : 0;
    margin      : auto;
    position    : absolute;
    right       : 10px;
    top         : 0;
    transition  : transform $anim-default;
    width       : 0;
  }
}

.dropdown__options {
  @include shadow(1);
  background: $dropdown-bg;
  display   : none;
  padding   : 3.5rem 0 .75rem;
  position  : absolute;
  top       : -.75rem;
  width     : 100%;
}

.dropdown__option {
  color      : $text-color;
  display    : block;
  line-height: 2.5rem;
  padding    : 0 10px;

  &:hover {
    background     : $dropdown-bg-hover;
    color          : $text-color;
    text-decoration: none;
  }

  &--active {
    font-weight: bold;
  }
}
