.feedback {
  &--editing &__btn-form-show,
  &--success &__btn-form-show {
    display: none;
  }

  &__container {
    display: none;
  }

  &--editing &__container {
    display: block;
  }

  &__form {
    margin-bottom: .5rem;
    resize: vertical;
    width: 100%;
  }

  &__controls {
    align-items: center;
    display: flex;
  }

  &__counter-container {
    margin-left: auto;
  }

  .btn {
    margin-right: .5rem;
  }

  &__error-message {
    color: $brand-danger;
    display: none;
  }

  &--error &__error-message {
    display: inline;
  }

  &__success-message {
    display: none;
  }

  &--success &__success-message {
    display: block;
  }
}
