.filtering {
  margin-top: -20px;
  padding: 20px 0;
  background-color: #525252;

  .filter-geotags {

    p {
      color: white;
      font-size: 14px;
      font-weight: bold;
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;

      button {
        font-weight: normal;
        margin-right: 7px;
        background-color: #C4C0C1;

        &:hover, &.active {
          background-color: #333333;
          color: white;
        }
      }
    }
  }
}
