.filtering {
  background-color: $gray-lighter;
  min-height      : $topbar-height;
  padding-top     : $topbar-height / 3.1;

  .dropdown--filter {
    margin-bottom: $topbar-height / 4;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
