footer {
  margin: 0 -5px;
  padding: 0 5px;
  background: $black;
}
.footer {
  .footer-title {
    font-size: 18px;
  }
  @extend .text-center;
  padding: 15px;
  color: $white;
  border-top: 1px solid $gray-lighter;
  address {
    font-weight: 600;
    span {
      display: block;
    }
    a {
      color: $white;
      background: $black;
      text-decoration: underline;
    }
  }
  svg {
    width: 40px;
    height: 40px;
    fill: $white;
  }
}
