@import 'variables';

.frontpage {
  display  : flex;
  flex-wrap: wrap;
  margin   : 0 -15px;
  padding  : 3rem 0 2rem;
}

.frontpage__catalog {
  padding: 5px;
  width  : 50%;

  a {
    color          : $black;
    text-decoration: none;
  }

  &:focus,
  &:hover {
    @include shadow(3);

    a {
      color: $link-color;
    }
  }

  h2 {
    margin    : .5rem 0 0;
    word-break: break-word;
  }

  @media (min-width: $small-size) {
    padding: 15px;
  }

  @media (min-width: $medium-size) {
    width  : 33.33333%;

    h2 {
      margin-left: -1px;
    }
  }
}
