// Map to show geolocation
.mini-map {
  height    : 10rem;
  margin-top: .5rem;
  width     : 100%;
}

.map-wrap {
  &:not(.map-visible) {
    display: none;
  }
}

.map-visible {
  display        : flex;
  flex-direction : column;
  justify-content: center;

  @media (min-width: $medium-size) {
    min-height: $asset-max-height;
  }
}

.map-container {
  margin  : 1rem 0;
  position: relative;

  .overlay {
    background-color: rgba($topbar-color, .9);
    color           : $white;
    display         : none;
    left            : 0;
    // safari bug fix
    margin          : -1px;
    min-height      : calc(100% + 2px);
    padding         : 2.5rem;
    position        : absolute;
    right           : 0;
    top             : 0;
    transform       : translateZ(3px);
    z-index         : 30;

    &.overlay-visible {
      display        : flex;
      flex-direction : column;
      justify-content: center;
      opacity        : 1;
      visibility     : visible;
    }

    h2 {
      margin: 0 0 10px;
    }

    .btn {
      width: 100%;
    }
  }
}

.geotagging-map {
  height: 0;
  width : 100%;

  &.map-visible {
    height        : auto;
    padding-bottom: 80%;
  }

  * {
    font-family: $font-family-sans-serif !important;
  }

  .controls {
    border       : 1px solid transparent;
    border-radius: 0;
    box-shadow   : 0 2px 6px rgba($black, .3);
    box-sizing   : border-box;
    height       : 32px;
    margin-top   : 10px;
    outline      : none;
  }

  input {
    background-color: $white;
    color           : $text-color;
    font-size       : $font-size-base;
    font-weight     : 300;
    margin-left     : 12px;
    max-width       : 50%;
    padding         : 0 11px;
    text-overflow   : ellipsis;
    width           : 300px;

    &:focus {
      border-color: $brand-primary;
    }
  }
}

// We have to use important to overide element style
.gmnoprint {
  > .gm-style-mtc > div,
  > div {
    border-radius: 0 !important;
  }
}

// TODO: Consider moving this to an option when initializing the map.
.gm-iv-container {
  display: none;
}

.gm-fullscreen-control {
  cursor: pointer;
}

.map-buttons {
  bottom        : 19px;
  pointer-events: none;
  position      : absolute;
  text-align    : center;
  transform     : translateZ(2px);
  width         : 100%;
  z-index       : 20;

  &.back-to-map {
    bottom: auto;
    left  : 5px;
    top   : 10px;
    width : auto;
  }

  &.btn,
  .btn {
    box-shadow    : 0 2px 6px rgba($black, .3);
    margin        : 0 5px;
    pointer-events: auto;
  }
}

@media (max-width: $extra-small-size) {
  .geotagging {
    .geotagging-map {
      min-height: 66vh;
    }

    .overlay {
      padding: 10px;
    }

    .call-to-action .btn {
      font-size: 12px;
    }
  }
}
