.geotagging {
  margin: 0 -15px 17px -15px;

  .map-container{
    display: none;
    position: relative;

    #geotagging-map {
      background: #eee;
      height: 500px;
    }
    .map-buttons{
      position: absolute;
      text-align: center;
      width: 40%;
      bottom: 10%;
      left: 30%;

      .btn{
        margin: 5px;
      }
    }
  }
}
