// Material style inputs
$input-animation: .2s ease all;
$thin-line: 1px;
$thick-line: 3px;

.material-input {
  margin-bottom: 1rem;
  max-width    : 300px;
  position     : relative;
  width        : 100%;

  input {
    border        : 0;
    border-bottom : $thin-line solid $text-color;
    display       : block;
    padding-bottom: .1rem;
    transition    : $input-animation;
    width         : 100%;

    &:focus {
      outline: none;

      ~ .bar::after {
        width: 100%;
      }

      ~ label {
        color: $brand-primary;
      }
    }

    &:focus,
    &:valid {
      margin-top: 1rem;

      ~ label {
        font-size: .8rem;
        top      : -1rem;
      }
    }
  }

  label {
    color         : $gray-light;
    font-weight   : 300;
    pointer-events: none;
    position      : absolute;
    top           : .2rem;
    transition    : $input-animation;
  }

  .bar {
    display : block;
    position: relative;

    &::after {
      background: $brand-primary;
      content   : '';
      height    : $thick-line;
      left      : 0;
      position  : absolute;
      top       : -$thin-line;
      transition: $input-animation;
      width     : 0;
    }
  }
}

.twitter-typeahead {
  width: 100%;

  .tt-menu {
    @include card(2);
    background-color: $white;
    cursor          : pointer;
    margin-top      : $thick-line - $thin-line;
    padding         : .5rem .5rem .2rem;
  }

  .tt-hint {
    bottom        : 0;
    color         : $gray-light;
    padding-bottom: 0;
    top           : auto;
  }

  &.focused {
    ~ .bar::after {
      width: 100%;
    }

    ~ label {
      color: $brand-primary;
    }
  }

  &.focused,
  &.valid {
    ~label {
      font-size: .8rem;
      top      : 0;
    }
  }
}
