$size: .7em;

.loader {
  animation       : loading-dots 1s infinite ease-in-out 0s;
  animation-delay : -.4s;
  background-color: $white;
  border-radius   : 50%;
  height          : $size;
  margin-left     : .5em;
  width           : $size;

  &.one {
    animation-delay: -.2s;
  }

  &.two {
    animation-delay: 0s;
    margin-right   : .5em;
  }
}

@keyframes loading-dots {
  0% {
    transform: scaleX(.01) scaleY(.01);
  }

  40% {
    transform: scaleX(1) scaleY(1);
  }

  100% {
    transform: scaleX(.01) scaleY(.01);
  }
}

.btn {
  .loader {
    display: none;
  }

  &.loading {
    .loader {
      display: inline-block;
    }
  }
}
