@import 'variables';
@import 'functions-shadows';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'asset';
@import 'button';
@import 'facebook-group';
@import 'filtering';
@import 'footer';
@import 'input';
@import 'loading';
@import 'menu';
@import 'search-results';
@import 'slider';
@import 'tab-focus';
@import 'typography';
@import 'to-top';
@import 'topbar';
@import 'tags';
@import 'snackbar';
@import 'overlay';

html {
  font-size: 87.5%;
}

body {
  // For category menu
  overflow-x: hidden; // Enable bleeds without horizontal scroll
  position  : relative;

  a {
    outline: none;
  }
}

.container-fluid {
  max-width: $large-size;
}

.sprite {
  display: none;
}
