$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@import "./_variables.scss";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
  // For category menu
  position: relative;
  right: 0;
  overflow-x: hidden; // Enable bleeds without horizontal scroll
  transition: all 0.5s ease 0s;
  &.categories-menu-open { // Menu toggle class
    right: -280px;
    .categories-menu {
      ul { // Menu list
        overflow: auto;
      }
    }
    #heading-categories-menu a { // Menu toggle button
      background: $black;
      bottom: 0;
      display: block;
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 0;
      padding: 120px 0 0 15px;
      z-index: 9998;
      text-align: left;
      color: $gray;
    }
    .menu-container {
      position: static;
      &.col-md-pull-4 {
        margin-left: -33.333333%;
      }
    }
    #menu-icon {
      fill: $gray;
    }
  }
}
.main-wrapper {
  background: $white;
  color: $black;
  overflow-x: hidden; // Enable bleeds without horizontal scroll
}
svg {
  width: 40px;
  height: 40px;
}

.header {
  a {
    color: $black;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  h1 {
    margin: 0;
  }
  .natmus {
    margin-bottom: 20px;
    height: 30px;
    background: $black;
    color: $white;
    a {
      line-height: 30px;
      vertical-align: middle;
      color: $white;
    }
  }
  img {
    width: auto;
    max-width: 100%;
    max-height: 50px;
  }
  hgroup {
    .row {
      margin-bottom: 20px;
    }
    .form-group,
    h2 {
      margin: 0;
    }
  }
}

/* Custom page footer */
.footer {
  @extend .text-center;
  padding: 15px;
  background: $black;
  color: $white;
  border-top: 1px solid $gray-lighter;
  address {
    font-weight: 600;
    span {
      display: block;
    }
    a {
      color: $white;
      background: $black;
      text-decoration: underline;
    }
  }
  svg {
    path {
      fill: $white;
    }
  }
}

/* Category menu */
.categories-menu {
  h2 {
    margin-top: 0;
    a {
      color: $black;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      svg {
        margin-top: -4px; // Align with search box
      }

    }
  }
  ul {
    background: #000;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 280px;
    z-index: -1;
    a {
      display: block;
      color: $white;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      &.col-xs-2 {
        @extend .text-center;
        padding: 10px 2px;
      }
      svg {
        width: 12px;
        height: 12px;
        fill: $white;
        margin: 0 auto;
      }
    }
  }
}
.search-box {
  .input-group-text { // Added to box-in input field and typeahead
    position: relative;
  }
  .dropdown-menu { // typeahead dropdown menu
    width: 100%;
  }
  button[type=submit] {
    width: 50px;
    height: 31px;
    // line-height: $line-height-computed;
  }
  svg {
    width: 20px;
    height: 20px;
  }
  #search-input {
    border-radius:4px 0 0 4px;
  }
  .input-group-btn {
    vertical-align:top;
  }
  .twitter-typeahead {
    width:100%;
  }
  .tt-dropdown-menu {
    width: 100%;
  }
  .tt-suggestions {
    @extend .list-group;
  }
  .tt-suggestion {
    @extend .list-group-item;
    &.tt-cursor {
      background-color: $gray-light;
    }
  }
}

.bleed {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}

.lead {
  font-weight: 300;
}

p.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  svg {
    vertical-align: middle;
    margin: 0 .2em
  }
}

/* Assets */
.asset {
  .asset-image img {
    @include img-responsive();
    @include center-block(); // Center tall asset images
  }
  .asset-tools {
    @extend .col-xs-12;
    @extend .btn-group;
    @extend .btn-group-justified;
    margin-top: $line-height-computed/2;
    margin-bottom: $line-height-computed;
    .dropdown-menu {
      width: 100%;
      min-width: 145px;
      & > li {
        & > a,
        & > .stButton {
          color: $gray !important;
          &:hover,
          &:focus {
            color: $gray !important;
            background: $gray-light;
          }
        }
        & > .stButton {
          clear: both;
          display: block !important;
          margin: 0;
          padding: 3px 20px;
          font-size: $font-size-base;
          font-weight: normal;
          line-height: $line-height-base;
          white-space: nowrap;
          .chicklets {
            font-family: inherit;
            font-size: inherit;
            height: auto;
            line-height: inherit;
        }
        }
      }
    }
    svg {
      width: 16px;
      height: 16px;
    }

  }
  .catalog {
    font-weight: bold;
  }
  .map {
    @include img-responsive();
    width: 100%;
  }
  .asset-block {
    margin-bottom: $line-height-computed;
  }
  .additional-info-header {
    a {
      display: block;
      width: 100%;
      vertical-align: middle;
      svg {
        @extend .pull-left;
        width: 20px;
        height: 20px;
        margin: .2em .2em 0 0;
        vertical-align: middle;
      }
      .plus-icon {
        @extend .hidden;
      }
      .minus-icon {
        @extend .show;
        visibility: visible !important;
      }
      &.collapsed {
        .plus-icon {
          @extend .show;
          visibility: visible !important;
        }
        .minus-icon {
          @extend .hidden;
        }
      }
    }
  }
  a {
    color: #000;
    &:hover,
    &:focus {
      text-decoration: none
    }
  }
  table {
    width: 100%;
    tr {
      border-bottom: 1px solid $gray-light;
      &:first-child {
        border-top: 1px solid $gray-light;
      }
    }
    th {
      display: inline-block;
      padding: $line-height-computed/2 .3em $line-height-computed/2 0;
    }
    td {
      display: inline-block;
      padding: $line-height-computed/2 0;
    }
  }
}

/* Search results */
.search-results {
  .thumbnail {
    background-color: $white;
    border: none;
  }
  a {
    color: $black;
    &:hover {
      text-decoration: none;
      background-color: $white;
      border: none;
    }
  }
}

ul.categories {
  li:after {
    content: ' /';
  }
  li:last-child:after {
    content: '';
  }
  li {
    display: inline;
    padding-right: 5px;
  }
  li.year {
  }
  li.year:after {
    content: ',';
  }
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Responsive: Landscape tablets and up */
@media screen and (min-width: $screen-md-min) {
  %pull-right {
    float: right !important;
  }
  body {
    // For category menu
    &.categories-menu-open { // Menu toggle class
      #heading-categories-menu a { // Menu toggle button
        padding: 50px 0 0 15px;
      }
    }
  }
  .header {
    hgroup {
      .col-sm-4 {
        @extend %pull-right;
      }
    }
  }
  .bleed {
    margin-left: auto;
    margin-right: auto;
  }
}
