$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@import "./_variables.scss";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "components/_slider.scss";

body {
  // For category menu
  position: relative;
  overflow-x: hidden; // Enable bleeds without horizontal scroll
  
  &.categories-menu-open { // Menu toggle class
    overflow:hidden;
    position:fixed;
    right:0;
    left:0;
    bottom:0;
    top:0;
    padding-left:280px;
    transition:all 400ms ease-in-out 0s;

    .gray-overlay {
      display:block;
    }

    .categories-menu {
      z-index: 9999;
      ul.dropdown-menu-right { // Menu list
        z-index: 9999;
        left:0;
      }
    }
    #heading-categories-menu a { // Menu toggle button
      color: $gray;
      #menu-icon {
        fill: $gray;
      }
    }
    .uv-popover, .user-voice-feedback {
      display:none; // Hide user vocie
    }
  }
  a {
    outline:none !important;
  }

  .gray-overlay { 
    display:none; 
    background: $black;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9998;
    text-align: left;
  }
}

/* Boostrap style modifications */
.container section h1.page-header {
  margin-top:-15px; // remove top margin for mobiles
  font-size: 18px;
  color:$brand-primary;
  a {
    text-decoration:underline !important;
  }
}

// Avoid detached footer
.container section {
  // min-height: 450px;
  @media all and (min-height: 1000px) {
    min-height:600px;
  }
}

.main-wrapper {
  background: $white;
  color: $black;
  overflow-x: hidden; // Enable bleeds without horizontal scroll
}
svg {
  width: 40px;
  height: 40px;
}

.header {
  a {
    color: $black;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  h1 {
    margin: 0;
  }
  .natmus {
    margin-bottom: 20px;
    height: 30px;
    background: $black;
    color: $white;
    a {
      line-height: 30px;
      vertical-align: middle;
      color: $white;
    }
  }
  img {
    width: auto;
    max-width: 100%;
    max-height: 50px;
  }
  hgroup {
    .row {
      margin-bottom: 20px;
    }
    .form-group,
    h2 {
      margin: 0;
    }
  }
}

/* Custom page footer */
.footer {
  .footer-title {
    font-size: 18px;
  }
  @extend .text-center;
  padding: 15px;
  background: $black;
  color: $white;
  border-top: 1px solid $gray-lighter;
  address {
    font-weight: 600;
    span {
      display: block;
    }
    a {
      color: $white;
      background: $black;
      text-decoration: underline;
    }
  }
  svg {
    path {
      fill: $white;
    }
  }
}

/* Category menu link */
.menu-container{
  h2 {
    margin-top: -5px;
    a {
      color: $black;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      svg {
        margin-top: -4px; // Align with search box
      }

    }
  }
}

/* Category menu */
.categories-menu {
  ul.nav {
    clear: both;
    padding: 0;
    padding-left: 5px;
    li.row {
      margin: 0px;
    }
    span.count {
      color: $gray;
    }
  }
  ul.dropdown-menu-right {
    padding: 0 10px 0 10px;
    background: #000;
    display: block;
    height: 100%;
    left: -280px;
    height:100%;
    clear:both;
    overflow-x: hidden;
    overflow-y:scroll;
    position: fixed;
    top: 0;
    bottom:0;
    width:260px;
    box-sizing:content-box;
    transition:all 400ms ease-in-out 0s;
    a {
      display: block;
      color: $white;
      text-decoration: none;
      font-size: 13.5px;
      line-height: 20px;
      &:hover,
      &:focus {
        text-decoration: none;
      }
      &.col-xs-2 {
        @extend .text-center;
        padding: 10px 2px;
      }
      svg {
        width: 12px;
        height: 12px;
        fill: $white;
        margin: 0 auto;
      }
    }
    .first-menu {
      margin-top:30px;
    }
    .top-border {
      border-top:1px solid $gray;
    }
    li.expanded > a.expand-menu {
      svg.plus-icon {
        display: none;
      }
      svg.minus-icon {
        display: inline;
      }
    }
    li:not(.expanded) > a.expand-menu {
      svg.plus-icon {
        display: inline;
      }
      svg.minus-icon {
        display: none;
      }
    }
  }

  .menu-hidden { display:none; }

  /*
  // First childern & last
  .menu-childern-first, .menu-childern-last {
    float: left;
    padding:0;
    width:100%;
    display:none;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
        background:#555555;
      }
    }

    a.expand-menu {
      padding-top:7px !important;
      padding-bottom:7px !important;
    }
  }

  .menu-childern-first a, .menu-childern-first a.col-xs-10 {
    padding: 7px 20px;
  }
  .categories-menu ul.nav .menu-childern-first a.col-xs-2 {
    padding:7px 2px;
  }
  */

  .menu-childern-last a {
    padding: 7px 25px;
  }
}

/* hide the scroll bar by default */
.nicescroll-rails {
  display:none;
}

.search-box {
  .input-group-text { // Added to box-in input field and typeahead
    position: relative;
  }
  .dropdown-menu { // typeahead dropdown menu
    width: 100%;
  }
  button[type=submit] {
    background:$brand-primary;
    width: 50px;
    height: 31px;
    border-color:$brand-primary;
  }
  svg {
    fill:$white;
    width: 20px;
    height: 20px;
  }
  #search-input {
    border-radius:4px 0 0 4px;
  }
  .input-group-btn {
    vertical-align:top;
  }
  /* Autosuggest */
  .twitter-typeahead {
    width:100%;
  }
  .tt-dropdown-menu {
    width: 100%;
  }
  .tt-suggestions {
    @extend .list-group;
  }
  .tt-suggestion {
    @extend .list-group-item;
    &.tt-cursor {
      background-color: $gray-light;
    }
  }
  .tt-dropdown-menu {
    .tt-suggestion p {
      margin:0;
    }
  }
}

.bleed {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 0;
  padding-right: 0;
}

.lead {
  font-weight: 300;
  color:$black !important;
}

p.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  svg {
    vertical-align: middle;
    margin: 0 .2em
  }
}

/* Assets */
.asset {
  .asset-image img {
    @include img-responsive();
    @include center-block(); // Center tall asset images
  }
  .asset-tools {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
    .dropdown-menu {
      min-width: 145px;
      font-size: 13.5px;
      & > li {
        & > a,
        & > .stButton {
          color: $gray !important;
          &:hover,
          &:focus {
            color: $gray !important;
            background: $gray-light;
          }
        }
        & > .stButton {
          clear: both;
          display: block !important;
          margin: 0;
          padding: 3px 20px;
          font-size: $font-size-base;
          font-weight: normal;
          line-height: $line-height-base;
          white-space: nowrap;
          .chicklets {
            font-family: inherit;
            font-size: inherit;
            height: auto;
            line-height: inherit;
            font-size: 13.5px;
          }
        }
      }
    }
    svg {
      width: 16px;
      height: 16px;
      fill:$brand-primary;
    }
    a.btn-default {
      border:2px solid $brand-primary;
      margin-right: 15px;
      text-decoration: none;
      font-weight: bold;
      color:$brand-primary;
    }
    .licens {
      .title {
        font-weight:bold;
        margin-right: 5px;
      }
    }
    @media all and (max-width:385px) {
      a.btn-default {
        margin-right: 5px;
      }
      .licens .title {
        display:none;
      }
    }
  }
  .catalog {
    font-weight: bold;
    a { color:#000; }
  }
  .map {
    @include img-responsive();
    width: 100%;
  }
  .asset-block {
    margin-bottom: $line-height-computed;
  }
  .additional-info-header, .additional-related-header {
    a {
      color:$brand-primary;
      display: block;
      width: 100%;
      vertical-align: middle;
      svg {
        @extend .pull-left;
        fill:$brand-primary;
        width: 20px;
        height: 20px;
        margin: 0 .2em 0 0;
        vertical-align: middle;
      }
      .plus-icon {
        @extend .hidden;
      }
      .minus-icon {
        @extend .show;
        visibility: visible !important;
      }
      &.collapsed {
        .plus-icon {
          @extend .show;
          visibility: visible !important;
        }
        .minus-icon {
          @extend .hidden;
        }
      }
    }
  }
  .related-assets {
    margin-bottom: 15px;
    .related-asset {
      display: inline-block;
      width: 23%;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%;
      margin: 1%;
      // border: 1px solid $brand-primary;
    }
  }
  h1, h2 {
    color: $brand-primary;
  }
  h1 {
    font-size: 21px;
  }
  h2 {
    font-size: 16px;
    margin:15px 0 6.5px 0;
  }
  a {
    color: $black;
    text-decoration: underline;
    &:hover,
    &:focus {
      color:$link-hover-color;
    }
  }
  table {
    width: 100%;
    tr {
      border-bottom: 1px solid $gray-light;
      &:first-child {
        border-top: 1px solid $gray-light;
      }
    }
    th {
      display: inline-block;
      padding: 6.5px .3em 6.5px 0;
    }
    td {
      display: inline-block;
      padding: 6.5px 0;
    }
  }
}

// Zoom in and out cursor
.col-md-6 .asset-image { cursor:zoom-in; }

.col-md-12 .asset-image { cursor:zoom-out; }

/* Search results */
.search-results {
  .thumbnail {
    position: relative;
    background-color: $white;
    border: none;
    padding:0;

    /* Video thumbnail */
    .video-thumbnail {
      position: relative;
      width: 100%;
      padding-bottom: 75%; // Maintaining the 4:3 aspect ratio
      background: $gray;
      .icon {
        position: absolute;
        width: 80%;
        height: 80%;
        background: url('/images/film-projector.svg');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10%;
      }
    }

    /* The actual image */
    .image {
      display: block;
      text-align: center;
      .overlay {
        position: relative;
        display: inline-block;
        img {
          max-width: 100%;
        }
        .rotation-icon {
          position: absolute;
          opacity: 0.75;
          bottom: 1em;
          right: 1em;
          width: 3em;
        }
      }
    }
    a {
      display: block;
      color: $black;
      &:hover {
        text-decoration: none;
        background-color: $white;
        color:$link-hover-color;
        border: none;
      }
    }
    .cat-link a {
      text-decoration:underline;
      font-size: 97%;
    }
  }
}

/* More button */
#more {
  @include clearfix;
  clear:both;
  border:2px solid $brand-primary;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
  color:$brand-primary;
}
ul.categories {
  li:after {
    content: ' /';
  }
  li:last-child:after {
    content: '';
  }
  li {
    display: inline;
    padding-right: 5px;
  }
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Infinte scroller */
.section-wrapper {
  height:auto;
  min-height:0 !important;
}

#infscr-loading {
  background: none repeat scroll 0 0 #000;
  border-radius: 4px;
  bottom: 20px;
  color: #fff;
  left:0;
  right:15px;
  margin-left:auto;
  margin-right:auto;
  opacity: 0.85;
  padding: 6px;
  position: absolute;
  text-align: center;
  width: 186px;
  z-index: 100;
}

/* Scroll to top button */
#toTop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-image: url('/images/scrolltotop.png');
  background-repeat: no-repeat;
  opacity: 0.80;
  filter: alpha(opacity=80);
  z-index:99;
}
#toTop:hover {
  cursor: pointer;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* User voice script */
.user-voice-feedback {
  top:10px !important;
  right:30px !important;
  opacity:0.85;
  position:fixed;
  &:hover {
    opacity:1;
  }
}
.uv-popover {
  margin-top:25px !important;
  position: fixed !important;
}

/* Responsive: Landscape tablets and up */
@media screen and (min-width: $screen-md-min) {
  %pull-right {
    float: right !important;
  }
  body {
    // For category menu
    &.categories-menu-open { // Menu toggle class
      #heading-categories-menu a { // Menu toggle button
        padding: 50px 0 0 15px;
      }
    }
  }
  .header {
    hgroup {
      .col-sm-4 {
        @extend %pull-right;
      }
    }
  }
  .bleed {
    margin-left: auto;
    margin-right: auto;
  }

  .asset h1 {
    font-size: 31px;
  }
  .asset h2 {
    font-size: 18px;
  }

  /* Boostrap style modifications */
  .container section h1.page-header {
    margin-top:34px;
    font-size: 28px;
  }

  // Frontpage category links
  .cat-link a {
    font-size: 85%;
  }
}

/* Disable zoom on IOS tweak */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #search-input:focus {
    font-size: 16px;
    background:$white;
  }
}

/* Responsive masonry boxes */
.box {
  float:left;
  box-sizing: border-box;
  padding:0 10px;
  min-height: 1px;
  width:100%;

  @media all and (max-width: 420px) {
    width:100%;
    padding:0;
  }

  @media all and (max-width: 635px) and (min-width: 420px) {
    width:50%;
  }

  @media all and (max-width: 992px) and (min-width: 635px) {
    width:33.3333%;
  }

  @media all and (min-width: 992px) {
    width:25%;
  }
}

/* Importing the magic360 */
@import "magic360.css";
