.gray-overlay {
  background    : $topbar-color;
  position      : absolute;
  right         : 0;
  top           : 0;
  bottom        : 0;
  left          : 0;
  opacity       : 0;
  z-index       : 9998;
  text-align    : left;
  pointer-events: none;
  transition    : all $animation-default;
}


.categories-menu-open {
  .gray-overlay {
    opacity       : .8;
    visibility    : visible;
    pointer-events: all;
    cursor        : pointer;
  }


  .categories-menu {
    ul.dropdown-menu-right {
      left      : 0;
      box-shadow: 0 0 1px $menu-shadow, 0 0 3px $menu-shadow, 0 0 10px $menu-shadow;
    }
  }
}


.categories-menu {
  ul.dropdown-menu-right {
    z-index: 9999;
    clear     : both;
    background: $topbar-color;
    display   : block;
    left      : -$menu-width;
    height    : 100%;
    clear     : both;
    overflow-x: hidden;
    position  : fixed;
    top       : 0;
    bottom    : 0;
    width     : $menu-width;
    box-sizing: content-box;
    box-shadow: 0 0 1px $menu-no-shadow, 0 0 3px $menu-no-shadow, 0 0 10px $menu-no-shadow;
    transition: all $animation-default;

    > li:first-child {
      margin-top: 10px;
    }

    li > span {
      display    : flex;
      align-items: center;
    }

    ul li {
      margin-left: 15px;
    }

    a {
      display        : block;
      color          : $white;
      font-size      : 13.5px;
      line-height    : 20px;
      text-decoration: none;
      padding        : 10px 15px;

      &.col-xs-2 {
        @extend .text-center;
        padding: 10px 2px;
      }

      &:hover,
      &:focus {
        background-color: $menu-highlight;
        > span {
          color: darken($gray,20%);
        }
      }

      > span {
        color: $gray;
        margin-left: 4px;
      }

      svg {
        width : 12px;
        height: 12px;
        fill  : $white;
        margin: 0 auto;
      }
    }

    li {
      /* This is needed, because an expanded li is otherwise placing itself
      ontop of the menu items above it. */
      overflow: hidden;
    }
  }

  .menu-hidden {
    display: none;
  }

  .menu-childern-last a {
    padding: 7px 25px;
  }
}


@media (pointer:coarse) {
  .categories-menu {
    ul.dropdown-menu-right {
      a:hover,
      a:focus {
        background-color: transparent;
      }


      a {
        -webkit-tap-highlight-color: $menu-highlight;
      }
    }
  }
}
