// Open menu

.categories-menu-open {
  position: fixed;
  top     : 0;
  left    : 0;
  right   : 0;

  .main-wrapper {
    &:before {
      position     : absolute;
      top          : 0;
      left         : 0;
      right        : 0;
      height       : $topbar-height - 2;
      border       : 4px $topbar-color solid;
      border-bottom: none;
      content      : '';
    }
  }

  .gray-overlay {
    opacity       : 1;
    visibility    : visible;
    pointer-events: all;
    cursor        : pointer;
  }

  ul.dropdown-menu-right {
    right     : 0;
    box-shadow: 0 0 1px $menu-shadow, 0 0 3px $menu-shadow, 0 0 10px $menu-shadow;
    transition: right $anim-out $anim-duration;
  }
}

.gray-overlay {
  background    : rgba(0,0,0,0.3);
  mix-blend-mode: soft-light;
  opacity       : 0;
  visibility    : hidden;
  position      : absolute;
  right         : 0;
  top           : 0;
  bottom        : 0;
  left          : 0;
  z-index       : 9998;
  text-align    : left;
  pointer-events: none;
  transition    : opacity $anim-duration ease $anim-duration;
}

// Menu styling
$expand-width: 50px;

ul.dropdown-menu-right {
  position  : fixed;
  top       : 0;
  right     : -$menu-width;
  z-index   : 9999;
  width     : $menu-width;
  height    : 100%;
  overflow-y: auto;
  box-shadow: 0 0 1px $menu-no-shadow, 0 0 3px $menu-no-shadow, 0 0 10px $menu-no-shadow;
  background: $topbar-color;
  transition: right $anim-in $anim-duration;

  @media (min-width: $small-size) {
    right: -$menu-width-small;
    width: $menu-width-small;
  }

  > li:first-child {
    margin-top: 10px;
  }

  li > div {
    display    : flex;
    align-items: stretch;

    > a {
      display    : flex;
      align-items: center;
    }
  }

  ul li {
    margin-left: 15px;
  }

  a {
    display        : inline-block;
    color          : $white;
    text-decoration: none;
    padding        : 10px 15px;

    &.col-xs-10 {
      float: none;
      width: calc(100% - #{$expand-width});
    }

    &.expand-menu {
      float     : right;
      width     : $expand-width;
      text-align: center;
    }

    &:hover,
    &:focus {
      background-color: $menu-highlight;

      > span {
        color: darken($gray,20%);
      }
    }

    > span {
      color      : $gray;
      margin-left: 4px;
    }

    svg {
      width : 12px;
      height: 12px;
      fill  : $white;
      margin: 0 auto;
    }
  }

  li {
    /* This is needed, because an expanded li is otherwise placing itself
      ontop of the menu items above it. */
    overflow: hidden;
  }
}

.menu-hidden {
  display: none;
}

.menu-childern-last a {
  padding: 7px 25px;
}

@media (pointer:coarse) {
  .categories-menu {
    ul.dropdown-menu-right {
      a:hover,
      a:focus {
        background-color: transparent;

        > span {
          color: inherit;
        }
      }

      a {
        -webkit-tap-highlight-color: $menu-highlight;
      }
    }
  }
}
