.motif-tagging {
  .btn-group {
    display: inline-block;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }

  .btn {
    margin-bottom: .5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__tags {
    padding-bottom: .4rem;
    padding-top: .6rem;
  }

  &__add-input {
    margin-right: .5rem;
  }

  &__transfer-btn,
  &__remove-btn {
    display: inline-block;

    svg {
      height: 13px;
      vertical-align: -10%;
      width: 13px;
    }
  }

  &__transfer-btn {
  }
}
