.search-page {
  &__header {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $spacer-md;
    margin-top: $spacer-lg;

    @media (min-width: $small-size) {
      margin-top: $spacer-lg * 2;
    }

    h1 {
      margin: 0;
    }
  }

  &__sorting {
    flex-shrink: 0;
    margin-left: auto;
    padding: $spacer-sm 0 0 $spacer-md;
  }
}

.has-sidebar {
  .search-page__header {
    margin-top: $spacer-md;

    @media (min-width: $small-size) {
      margin-top: $spacer-lg + $spacer-md;
    }
  }
}

.search-results {
  margin-bottom: 4.2rem;
}

// Video thumbnail
// TODO: These should prolly be moved to search-result-item.scss
.video-thumbnail {
  background    : $gray;
  position      : relative;
  width         : 100%;

  svg {
    fill: $white;
    height: 75%; // Maintaining the 4:3 aspect ratio
    transform: scale(.5);
    width: 100%;
  }
}


// TODO: Are these still used?
.box {
  &.loaded-more {
    opacity: 0;
  }

  &.load-done {
    animation: fadeIn $anim-duration-long forwards;
    opacity  : 0;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }
}

// Load more button
.load-more {
  display: block;
  margin : 0 auto 4.2rem;
  width  : 12rem;
}
