.box {
  color: $black;
  display: block;
  margin-bottom: $spacer-md;
  padding: $spacer-md;
  transition: box-shadow $anim-default;

  &:focus,
  &:hover {
    border: 0;
    color: $black;
    text-decoration: none;
  }

  // Only target devices with mouse
  @media (pointer:fine) {
    &:focus,
    &:hover {
      @include shadow(3);
      z-index: 1;
    }
  }

  &__squared-container {
    height: 0;
    line-height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }

  &__squared-image {
    font-family: 'object-fit: cover;'; // Object fit polyfil
    height: 100%;
    left: 0;
    margin: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__description,
  &__title {
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: normal;

    // TODO - uncomment if we prefer gradient instead of ...
    // &::after {
    //   background: linear-gradient(to right, rgba($white, 0), rgba($white, 1));
    //   bottom: 0;
    //   content: '';
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: $spacer-lg;
    // }
  }

  &__title {
    height: $spacer-sm * 3;
    padding-top: $spacer-sm;
  }

  &__description {
    height: $spacer-sm * 2;
  }
}
