.search-filter-sidebar {
  margin: $spacer-md 0;
  position: -webkit-sticky;
  position: sticky;
  top: $spacer-md;

  &__heading {
    background-color: $gray-light;
    height: $topbar-height;
    line-height: $topbar-height + $spacer-xs;
    margin: 0;
    padding-left: $spacer-sm;
    font-size: 1.285714286rem; // 18/14
    font-family: $font-family-medium;
    text-transform: capitalize;
  }

  &__filters {
    background-color: $gray-lighter;
    padding: $spacer-xs;
    padding-bottom: $spacer-sm;
  }

  &__options {
    margin-top: $spacer-md;
  }
}

.btn-filter, .filter-text {
  margin: $spacer-xs;
}

.btn-filter {
  &__count {
    font-family: $font-family-light;
    font-weight: 300;
    padding-left: $spacer-xs;
  }
}
