$heading-adjustment: 2px;

.search-filter-sidebar {
  margin: 0 $spacer-md * -1 $spacer-md;
  position: -webkit-sticky;
  position: sticky;
  top: $spacer-lg;

  @media (min-width: $small-size) {
    margin: $spacer-lg + $spacer-md 0 $spacer-md;
  }

  &__heading {
    background-color: $gray-lighter;
    line-height: $topbar-height;
    margin: 0;
    padding-left: $spacer-sm + $spacer-xs;
    padding-right: $spacer-sm + $spacer-xs;
    font-family: $font-family-medium;
    font-size: 1rem;

    @media (min-width: $small-size) {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
      padding-top: $heading-adjustment;
      padding-bottom: -$heading-adjustment;
      font-size: 1.285714286rem; // 18/14
    }

    &::first-letter {
      text-transform: uppercase;
    }

    // Used for mobile accordion navigation
    span {
      display: inline-block;
      position: relative;
      padding-right: $spacer-lg;
      cursor: pointer;
      width: 100%;

      &::first-letter {
        text-transform: uppercase;
      }

      &:after {
        content: '';
        background-image:
        url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.6 8.6L12 13.2 7.4 8.6 6 10l6 6 6-6z' fill='rgba(0,0,0,0.3)'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: $spacer-lg;
        background-position: center;
        transition: 0.3s ease;
        position: absolute;
        right: - $spacer-xs;
        top: 0;
        bottom: $spacer-xs / 2;
        width: $spacer-lg;
      }

      &.expanded:after {
        transform: rotate(180deg);
      }

      &:not(:last-child) {
        margin-right: $spacer-sm;
      }
    }
  }

  &__filters {
    display: none;

    &--expanded {
      display: block;
    }
  }

  &__filters, &__chosen-filters {
    padding: $spacer-sm;
    background-color: rgba($gray-lighter, 0.5);
    @media (min-width: $small-size) {
      padding: $spacer-xs;
      padding-bottom: $spacer-sm;
    }
  }

  .btn-filter, .filter-text {
    margin: $spacer-xs;
  }
  .filter-text {
    line-height: 1.4;
  }
}


.btn-filter {
  display: flex;
  // expected max-width: 100%; would work, but margin gives issues.
  max-width: 90%;
  max-width: calc(100% - #{$spacer-xs * 2});

  &__count, &__text, svg {
    align-self: center
  }
  &__count {
    font-family: $font-family-light;
    font-weight: 300;
    padding-left: $spacer-xs;
  }
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  svg {
    flex-shrink: 0;
    margin: 0 .2em 0 .5em;
  }
}
