// We need .scss because there is also a css file in the folder
@import '../../bower_components/slick-carousel/slick/slick.scss';

$slider-padding: 15px;

.slider {
  margin-top: .5rem;

  img {
    width: 100%;
  }
}

.slick-slider {
  overflow: hidden;
}

.slick-list {
  margin-left : -$slider-padding;
  margin-right: -$slider-padding;
}

.slick-slide {
  padding-left : $slider-padding;
  padding-right: $slider-padding;
}
