.snackbar-container {
  bottom    : 0;
  left      : 0;
  position  : fixed;
  right     : 0;
  text-align: center;
  transform : translate(0, 100%);
  transition: transform $anim-duration-long $anim-exit;
  z-index   : $snackbar-zindex;

  &--active {
    transform                 : translate(0, 0);
    transition-timing-function: $anim-entrance;

    .snackbar__content {
      opacity                   : 1;
      transition-timing-function: $anim-entrance;
    }
  }
}

.snackbar {
  background : $snackbar-bg;
  color      : $snackbar-front;
  display    : inline-block;
  line-height: 1.4rem;
  padding    : 1rem 1.5rem;
  text-align : left;
  width      : 100%;

  &__content {
    opacity   : 0;
    text-align: center;
    transition: opacity $anim-duration-long $anim-exit;
  }

  @media (min-width: $extra-small-size-min) {
    margin   : 0 auto;
    min-width: 22rem;
    padding  : 1rem 2rem;
    width    : auto;
  }
}
