.btn {
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      outline: none;
    }
  }
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

a {
  &:focus {
    outline: none;
  }
}
