.tags {
  padding-bottom: .4rem;
  padding-top   : .6rem;

  .btn,
  .tag {
    display        : inline-block;
    font-size      : 90%;
    margin-bottom  : .5rem;
    padding        : .2rem .5rem;
    text-decoration: none;
    vertical-align : baseline;

    &:not(:last-child) {
      margin-right: .5rem;
    }

    svg {
      fill       : $white;
      height     : 8px;
      margin-left: 4px;
      width      : 8px;
    }
  }

  .tag {
    background-color: $tag-bg;
    color           : $white;

    &:hover,
    &:focus {
      background-color: darken($tag-bg, 10%);
    }

    &.new {
      cursor: pointer;
    }
  }

  &.crowd {
    .material-input {
      display: none;
    }

    &.inputting {
      .material-input {
        display: block;
      }
    }
  }
}

.no-tags {
  display       : inline-block;
  margin-right  : .5rem;
  padding-bottom: .4rem;
}
