.topbar {
  background-color: $topbar-color;
  color: $white;
  line-height: 1.5;
  position: relative;
  z-index: 10;

  &__logo {
    align-items: center;
    cursor: default; // TODO: Check why?
    display: flex;
    flex-grow: 1;
    margin-top: .5rem;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &__logo-text {
    color: $white;
    display: inline-block;
    line-height: 1.4;
    margin: .3rem 0 0 10px;

    h1 {
      font-size: 1.9rem;
      margin: 0;
    }

    span {
      display: block;
    }
  }

  &__logo-tagline {
    font-size: 1.1rem;
    letter-spacing: .03rem;
  }

  &__logo-icon {
    display: inline-block;

    svg {
      height: 40px;
      vertical-align: middle;
      width: 40px;
    }

    &--large {
      svg {
        height: 60px;
        width: 60px;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  svg {
    fill: $white;
  }

  &__items {
    align-items: center;
    display: flex;
    height: $topbar-height;

    &-link {
      color: $white;
      flex-shrink: 0;
      text-decoration: none;

      &:focus,
      &:hover {
        color: $white;
        text-decoration: none;
      }

      &:not(:last-child, .topbar__name) {
        margin-right: 1rem;
      }
    }
  }

  &__hamburger {
    align-items: center;
    cursor: pointer;
    display: flex;
    line-height: 0;
    padding-left: 10px;
    padding-right: 2px;
    text-decoration: none;

    svg {
      height: 20px;
      margin-right: 10px;
      width: 26px;
    }
  }

  &__menu {
    flex-grow: 1;
  }

  &__search {
    flex-grow: 0;

    svg {
      height: 1.7rem;
      width: 1.7rem;
    }
  }

  &__auth {
    .dropdown__selected::after {
      border-top-color: $white;
    }
  }
}
