.topbar {
  background-color: $topbar-color;
  line-height     : 1.5;
  position        : relative;
  z-index         : 10;

  svg {
    fill: $white;
  }

  h1,
  .tag-line {
    margin: 0;
  }

  h1 {
    font-size : 1.9rem;
    margin-top: .3rem;
  }

  .tag-line {
    font-size     : 1.1rem;
    letter-spacing: .03rem;
  }
}

.topbar-items {
  align-items: center;
  display    : flex;
  height     : $topbar-height;

  > a {
    flex-shrink: 0;
  }
}

// Frontpage styling
.topbar--frontpage {
  @media (min-width: $medium-size) {
    height: 200px;
  }
}

.big-wrap {
  cursor    : default;
  margin-top: .5rem;

  .logo {
    svg {
      height: 60px;
      width : 60px;
    }
  }
}

// Logo and logo text
.logo-wrap {
  align-items: center;
  display    : flex;

  &:hover {
    text-decoration: none;
  }
}

.logo,
.logo-text {
  display: inline-block;
}

.logo {
  margin-right: 10px;

  svg {
    height        : 40px;
    vertical-align: middle;
    width         : 40px;
  }
}

.logo-text {
  color       : $white;
  font-size   : 90%;
  margin-right: 10px;

  span {
    display: block;
  }
}

// Search box
.search-box {
  flex-grow  : 1;
  flex-shrink: 1;
  margin     : 0 10px;
  position   : relative;
  text-align : right;

  .input-group {
    border-bottom: 1px solid rgba($white, .5);
    border-top   : 1px solid rgba($white, 0);
    float        : right;
    max-width    : 20rem;
  }

  .btn-search {
    line-height  : 1.2;
    margin-left  : 0;
    padding-right: 0;
  }

  .btn {
    svg {
      height: 24px;
      margin: 0;
      width : 24px;
    }
  }

  .btn,
  .form-control {
    border       : 0;
    border-radius: 0;
    height       : $input-height-base + 2;

    &:active,
    &:focus {
      box-shadow: none;
      outline   : none;
    }
  }

  .form-control {
    background-color: rgba($white, 0);
  }

  input {
    border       : 0;
    border-radius: 0;
    color        : $white;
    line-height  : 1.25;
    padding-left : 0;
  }
}

// Menu button
.hamburger {
  align-items    : center;
  display        : flex;
  height         : 100%;
  padding-left   : 10px;
  padding-right  : 2px;
  text-decoration: none;

  svg {
    height: 20px;
    width : 26px;
  }

  .catalog-name {
    color    : $white;
    font-size: 20px;
    margin   : 0 0 0 15px;
  }
}
