@font-face {
  font-family: 'nationale';
  src        : url('./fonts/nationale-demibold-webfont.eot');
  src        : url('./fonts/nationale-demibold-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/nationale-demibold-webfont.woff2') format('woff2'), url('./fonts/nationale-demibold-webfont.woff') format('woff'), url('./fonts/nationale-demibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style : normal;

}

@font-face {
  font-family: 'nationale';
  src        : url('./fonts/nationale-regular-webfont.eot');
  src        : url('./fonts/nationale-regular-webfont.eot?#iefix') format('embedded-opentype'), url('./fonts/nationale-regular-webfont.woff2') format('woff2'), url('./fonts/nationale-regular-webfont.woff') format('woff'), url('./fonts/nationale-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style : normal;

}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;
}

.search-count {
  font-weight: normal;
}
