// Reduce a list of paths to a list of seperated values.
if row.paths && row.title
  tr
    th!= row.title
    td!= helpers.getAnyFlat(metadata, row.paths).join(row.separator || ', ')
else
  | Missing row.title or row.paths
