include ../../mixins/format-date-interval

tr
  th.col-xs-6.col-sm-4 #{row.title}:
  td.col-xs-6.col-sm-8
    - var fromDate = helpers.get(metadata, row.fields.from);
    - var toDate = helpers.get(metadata, row.fields.to);
    +formatDateInterval(fromDate, toDate)
