include ../mixins

- var latitude = metadata[row.fields.latitude];
- var longitude = metadata[row.fields.longitude];
tr
  th #{row.title}:
  td
     = latitude.toFixed(5) + ', ' + longitude.toFixed(5)
     if options.showGeotagging
       a.btn.btn-icon.btn-primary.btn-small
         +icon('pencil-icon')
tr
 td.bleed(colspan='2')
   a(href='http://maps.google.dk/maps?ll=' + latitude + ',' + longitude + '&spn=0.008039,0.015857&t=h&z=16&q=' + latitude + ',' + longitude, target='blank')
     img.map(alt='Google Map', src='http://maps.google.dk/maps/api/staticmap?size=800x600&markers=' + latitude + ',' + longitude + '&sensor=false&scale=2&zoom=14&maptype=terrain')
