include date-full

mixin formatDate(from, to)
  if(from && to && from.day == to.day && from.month == to.month && from.day == to.day)
    +fullDate(from)
  else
    if(from && to && from.day == 1 && from.month == 1 && to.day == 31 && to.month == 12 && from.year == to.year)
      | #{from.year}
    else
      if(from)
        +fullDate(from)
      if((from && to) || (!from && !to))
        |  -
      if(to)
        +fullDate(to)
