
mixin formatDateInterval(from, to)
  if(from && to && from.day == to.day && from.month == to.month && from.year == to.year)
    = helpers.formatDate(from)
  else
    if(from)
      span.date-string= helpers.formatDate(from)
    if(from && to)
      | &nbsp;&ndash;&nbsp;
    if(to)
      span.date-string= helpers.formatDate(to)
