include meta

mixin searchMeta(result, catalog, breadcrumbs)
  if result.isSearch
    - title = filters.q
    - socialTitle = 'Søgning på "' + title + '"'

  if result.isCategory
    if breadcrumbs
      - title = breadcrumbs.last.name
    else
      - title = catalog.name
  if result.isCatalog
    - title = catalog.name
    
  - twitterAccount = helpers.getTwitterAccount()
  - facebookAppId = helpers.getFacebookAppId()

  +meta(title, socialTitle, twitterAccount, facebookAppId)
