mixin recursiveCategoryItem(catalog, category)
  if category.count > 0
    li
      div
        a.col-xs-10(href='/#{catalog.alias}?cat=#{category.id}') #{category.name}
          span #{category.count}
        if category.children.length > 0
          .expand
            +icon('plus')
      if category.children.length > 0
        ul.nav.menu-hidden
          each childCategory in category.children
            +recursiveCategoryItem(catalog, childCategory)
