mixin searchCount
  - const count = result && result.totalCount ? result.totalCount : 0;
  - const pluralMaybe = count > 1 ? 'er' : '';
  span.search-count &nbsp;#{count ? count.toLocaleString() : '0'} post#{pluralMaybe}
