include ../../mixins

tr
  th.col-xs-4 #{row.title}: 
  td.col-xs-8
    - var startDate = metadata[row.fields.from];
    - var endDate = metadata[row.fields.to];
    if startDate && endDate
      +formatDate(startDate, endDate)
