include ../../mixins

- var latitude = metadata[row.fields.latitude];
- var longitude = metadata[row.fields.longitude];

if latitude && longitude
  tr
    th.col-xs-4 #{row.title}:
    td.col-xs-12
       = latitude.toFixed(5) + ', ' + longitude.toFixed(5)
       if options.showGeotagging
         | &nbsp;
         button.btn.btn-icon.btn-primary.btn-small(data-action='edit-place')
           +icon('pencil')
  tr
   td(colspan='2')
     a(href='http://maps.google.dk/maps?ll=' + latitude + ',' + longitude + '&spn=0.008039,0.015857&t=h&z=16&q=' + latitude + ',' + longitude, target='blank')
       img.map(alt='Google Map', src='http://maps.google.dk/maps/api/staticmap?size=800x600&markers=' + latitude + ',' + longitude + '&sensor=false&zoom=14')

else if options.showCallToAction
  tr
    td
      button.btn.btn-primary#edit-coordinates Tilføj placering
