include ../../mixins

- var latitude = metadata[row.fields.latitude];
- var longitude = metadata[row.fields.longitude];

if latitude && longitude
  tr
    th.col-xs-6.col-sm-4 #{row.title}:
    td.col-xs-6.col-sm-8
       = latitude.toFixed(5) + ', ' + longitude.toFixed(5)
       if options.editGeotagging
         | &nbsp;
         button.btn.btn-icon.btn-primary.btn-small(data-action='edit-place')
           +icon('pencil')
  tr
   td(colspan='2')
     #asset-map.mini-map

else if options.showCallToAction
  tr
    td(colspan='2')
      button.btn.btn-small.btn-primary#edit-coordinates Tilføj placering
