extends index

block content
      .row
      .col-md9.text-row

        header
          h1 Ups siden kan ikke findes

        h2 Vi beklager, men den side, du prøver at få fat i er ikke på denne adresse. 

        .asset
          .asset-block
            p
              // Empty
