extends document

block document__middle
  if config.features.motifTagging
    .document__middle
      .container-fluid.motif-tagging
        include includes/motif-tagging

block document__overlays
  include includes/download-overlay
