extends index
include mixins/icon
include mixins/loader
include mixins/meta

append header
  - let title = helpers.documentTitle(metadata);
  - let description = helpers.documentDescription(metadata);
  - let socialThumbnailURL = helpers.getSocialThumbnailURL(metadata);
  +meta(title, description, socialThumbnailURL)

append javascript
  if config.features.geoTagging
    - const key = config.google.keys.restricted;
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + key + "&callback=initMap&libraries=geometry,places")

block content
  section(
    itemscope,
    itemtype=helpers.microdata.itemType(metadata),
    about=helpers.microdata.about(req, metadata)
  ).let-it-grow
    block document__microdata
      include includes/document-microdata
    .document(data-collection=metadata.collection, data-id=metadata.id)
      block document__section-1
        include includes/document-section-1
      block document__section-2
        include includes/document-section-2
      block document__section-3
        include includes/document-section-3
      block document__section-4
        include includes/document-section-4
      block document__section-5
        include includes/document-section-5
    block document__overlays
