extends index

append header
  if(err.status === 404)
    +meta('Siden blev ikke fundet')
  else
    +meta('Der er sket en fejl')

block content
  include includes/translate

  .let-it-grow
    .container-fluid
      if(err.status === 404)
        h1 Siden blev ikke fundet
      else
        h1 Der er sket en fejl
      p Du er meget velkommen til at kontakte os, hvis fejlen ikke forsvinder.
      if(showStacktrace)
        pre= err.stack

  include includes/footer
