extends index

block content
  .container-fluid
    if(err.status === 404)
      h1 Siden blev ikke fundet
    else
      h1 Der er sket en fejl
    if(!showStacktrace)
      pre= err.stack
    else
      p Du er meget velkommen til at kontakte os, hvis fejlen ikke forsvinder.

  include includes/footer
