mixin FrontPageSlider()
  .col-md-8.slider-wrapper
    .slider
      ul(class="slides")
        li
            img(src='http://beta.samlinger.natmus.dk/images/01.jpg', alt="800")
        li
            img(src='http://beta.samlinger.natmus.dk/images/02.jpg', alt="800")
        li
            img(src='http://beta.samlinger.natmus.dk/images/03.jpg', alt="800")
        li
            img(src='http://beta.samlinger.natmus.dk/images/04.jpg', alt="800")
        li
            img(src='http://beta.samlinger.natmus.dk/images/05.jpg', alt="800")

  .col-md-4.clearfix.slider-text
    h1 Søg og udforsk Nationalmuseets Samlinger online!
    h2.lead Velkommen til Nationalmuseets samlinger på nettet. Her publicerer Nationalmuseet løbende spændende billeder af alt muligt!
