mixin FrontPageSlider()
  .col-md-8
    .slider
      ul(class="slides")
        li
          a(href='http://beta.samlinger.natmus.dk/DO/2334')
            img(src='http://beta.samlinger.natmus.dk/DO/2334/image/800', alt="800")
        li
          a(href='http://beta.samlinger.natmus.dk/AS/9441')
            img(src='http://beta.samlinger.natmus.dk/AS/9441/image/800', alt="800")
        li
         a(href='http://beta.samlinger.natmus.dk/AS/4294/')
            img(src='http://beta.samlinger.natmus.dk/AS/4294/image/800', alt="800")

  .col-md-4
    bla bla bla