extends index

append header
  +meta()

block content
  .container-fluid.content
    .frontpage
      each catalog in catalogs
        if catalog
          a.frontpage__catalog(href="/#{catalog.alias}")
            .thumb(style="background-image: url('#{catalog.sources.thumbnail}')")
            h2= catalog.name
  include includes/footer
