extends index
include mixins/meta

append header
  +meta()

block content
  .container-fluid.let-it-grow
    .frontpage
      each catalog in catalogs || []
        if catalog
          .frontpage__catalog
            a(href='/' + catalog.alias)
              .thumb(style='background-image: url(' + catalog.sources.thumbnail + ')')
              h2= catalog.name

append javascript
  - baseURL = 'http://' + (req.get('x-forwarded-host') || req.get('host')) + '/'
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "#{baseURL}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{baseURL}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
