mixin FrontPageSlider()
  .col-md-8.slider-wrapper
    .slider
      ul(class="slides")
        li
            img(src='/images/01.jpg', alt="800")
        li
            img(src='/images/02.jpg', alt="800")
        li
            img(src='/images/03.jpg', alt="800")
        li
            img(src='/images/04.jpg', alt="800")
        li
            img(src='/images/05.jpg', alt="800")
        li
            img(src='/images/06.jpg', alt="800")
        li
            img(src='/images/07.jpg', alt="800")
        li
            img(src='/images/08.jpg', alt="800")
        li
            img(src='/images/09.jpg', alt="800")

  .col-md-4.clearfix.slider-text
    h1 Søg og udforsk Nationalmuseets Samlinger online!
    h2.lead I Nationalmuseets billedsamling finder du mange former for kulturhistoriske fotos.<br>De fleste billeder kan du bruge som du vil, også kommercielt.<br><br>Kig efter Public Domain eller licensen CC-BY-SA, og klik på licenslogoet under billederne for at få mere at vide om betingelserne for brug.<br><br>Vi håber, at du kan bruge Nationalmuseets billeder til fantastiske ting!
