extends index


block content
  .container-fluid.content
    .row
      each catalog in catalogs
        if catalog
          a.cards.col-xs-6.col-sm-4(href="/#{catalog.alias}")
            .thumb(style="background-image: url('#{catalog.sources.thumbnail}')")
            h2= catalog.name
  include includes/footer
