extends index

append header
  +meta()

block content
  include includes/translate
  .container-fluid
    .frontpage
      each catalog in catalogs
        if catalog
          .frontpage__catalog
            a(href="/#{catalog.alias}")
              .thumb(style="background-image: url('#{catalog.sources.thumbnail}')")
              h2= catalog.name
  include includes/footer
