extends index


block content
  .container-fluid
    .row
      each catalog in catalogs
        if catalog
          .col-sm-4= catalog.name
            img(src=catalog.sources.thumbnail)

  include includes/footer
