div.geotagging
  div.map-container
    div#geotagging-map.closed
    div.map-buttons
      div.btn.hide-map
        | Annuller
      div.btn.save-coordinates
        | Gem placering
      
  div.call-to-action
    div.btn.btn-primary
      span.glyphicon.glyphicon-map-marker
      | Hjælp os med at placere dette billede på kortet!
