include mixins
doctype html
html(lang='da').no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0')
    include includes/styles
    block header
    include includes/analytics
    <!--[if lt IE 9]><script src="/bower_components/html5shiv/dist/html5shiv.js"></script><![endif]-->

  body
    include includes/menu
    div.main-wrapper
      include includes/topbar
      block before-content
      .content.container-fluid
        block content
      include includes/menu
      include includes/footer
      block after-footer

    include includes/scripts
    block javascript
