include mixins
doctype html
html(lang='da').no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0')
    include includes/styles
    block header
    include includes/analytics

  body
    include includes/menu
    div.main-wrapper
      include includes/topbar
      block before-content
      block content
      include includes/menu
      block after-footer

    include includes/scripts
    block javascript
