doctype html
html(lang='da')
  head
    include includes/head
    block header
    include includes/analytics

  body
    include includes/menu

    .main-wrapper
      include includes/topbar
      block content
      block footer
        include includes/footer

    include includes/scripts
    block javascript
