include mixins

li
  a.col-xs-12(href='/') Alle samlinger

each catalog in catalogs
  li
    span
      a.col-xs-10(href='/#{catalog.alias}') #{catalog.name}
      if catalog.count > 0
        a.col-xs-2.expand-menu(href='')
          +icon('icon-plus-minus')
    ul.nav.menu-hidden
      each category in catalog.categoryRoot.children
        +recursiveCategoryItem(catalog, category)
li
  a.col-xs-12(href='http://digital.natmus.dk/sitesservices/', target='_blank') Om Nationalmuseets Samlinger Online
