extends search

block before-results
  include includes/search-filter

block results-header
  include includes/results-header

block results
  .search-results(id="masonry-container")
    each asset in result.hits
      +searchResultAsset(asset)

block after-results
  //- A page-nav is needed for masonry
  #page-nav
    a(href='#{infinitepath}')

  if(result.totalCountRaw > 10)
    button.btn.btn-primary.btn-lg.load-more(data-action="load-more")
      +loader('Vis flere...')
