extends index
include mixins/meta-search
include mixins/icon
include mixins/loader
include mixins/search-result-asset

append header
  +searchMeta(result, catalog, breadcrumbs)
    
block content

  block before-results

  .let-it-grow
    section.container-fluid
      
      #results-header
        block results-header
      
      .row
        .col-md-3.col-sm-4.col-xs-12#sidebar
          block sidebar
        .col-md-9.col-sm-8.col-xs-12#results.search-results
          block results

  .clearfix
  
  block after-results
      
  a#toTop
    +icon('scrolltotop')

  include includes/footer

append javascript
  script.
    $(function() {
      $('#toTop').scrollToTop(400);
      // To ensure no boxes are hidden if the was some load error
      $('.loaded-more').removeClass('loaded-more');
    });
