extends index
include mixins/meta-search
include mixins/icon
include mixins/loader
include mixins/search-result-asset

append header
  +searchMeta(result, catalog, breadcrumbs)

block content

  block before-results

  .let-it-grow
    section.container-fluid
      .search-results.row
        if config.features.filterSidebar
          #sidebar.col-lg-3.col-sm-4.col-xs-12
            block sidebar
          .col-lg-9.col-sm-8.col-xs-12
            #results-header
              block results-header
            include includes/no-results-text
            #results.row
              block results
        else
          #results-header.col-xs-12
            block results-header
          include includes/no-results-text
          #results
            block results
      block after-results
        button.btn.btn-primary.btn-lg.invisible.load-more#load-more-btn
          +loader('Vis flere...')
  .clearfix

  a#toTop
    +icon('scrolltotop')

  include includes/footer

append javascript
  script.
    $(function() {
      $('#toTop').scrollToTop(400);
      // To ensure no boxes are hidden if the was some load error
      $('.loaded-more').removeClass('loaded-more');
    });
