doctype xml
urlset(xmlns='http://www.sitemaps.org/schemas/sitemap/0.9',
       xmlns:image='http://www.google.com/schemas/sitemap-image/1.1')
  each url in urls
    url
      loc= url.location
      changefreq weekly
      lastmod= url.lastmod
      image:image
        image:loc= url.location + '/thumbnail'
        image:title= '<![CDATA[' + url.title + ']]>'
        image:caption= '<![CDATA[' + url.description + ']]>'
        if url.licenseUrl
          image:license= url.licenseUrl
